*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background: #101010;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
}

@font-face{
	font-family: 'VHS';
	font-style: normal;
	font-weight: 400;
	src: url("VCR_OSD_MONO.ttf");
}

a{
	text-decoration: none;
}

p{
	position: relative;
	font-family: VHS;
	color: #ffffff;
	font-size: 3vh;
	margin-top: 20px;
	opacity: 0%;
	animation: hideshow 0.5s ease forwards 2.3s;
	z-index: 1;
}

p1{
	position: relative;
	font-family: VHS;
	color: #ffffff;
	font-size: 3vh;
	margin-top: 20px;
	opacity: 0%;
	animation: hideshow 0.5s ease forwards 2.3s;
	z-index: 1;
	transition: 0.3s;
}

p1:hover {
	position: relative;
	font-size: 5vh;
  	color: #000000;
  	background-color: #ffffff;
  	transition: 0.3s;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	white-space: nowrap;
}

section#About{
	background: #101010;
	z-index: 1;
}

section#Contact{
	background: #101010;
	z-index: 1;
}

.navbar {
	position: fixed;
	z-index: 3;
	display: flex;
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	transition: 0.5s;
}

.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
}

.navbar ul li {
	padding-top: 12px;
}

.navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-family: VHS;
	font-size: 2vh;
	border: 15px solid transparent;
	letter-spacing: 0.2em;
	transition: 0.5s;
}

.navbar:hover {
	height: 52px;
	transition: 0.5s;
}

.navbar ul li a:hover {
	position: relative;
	top: 3px;
	font-size: 22px;
  	color: #000000;
  	background-color: #ffffff;
  	transition: 0.5s;
}

.glitch-home{
	font-family: VHS;
	color: #ffffff;
	font-size: 6vh;
	letter-spacing: 12px;
	position: relative;
	text-align: center;
	font-weight: 800;
	opacity: 0%;
	animation: hideshow 7s ease forwards 0s, glitch-skew 1s infinite linear alternate-reverse;;
	z-index: 2;
}

.glitch-home::before,.glitch-home::after{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.glitch-home::before{
	color: #ff00c1;
	opacity: 0%;
	animation: glitch-effect 2s infinite, hideshow 0s ease forwards 4.2s;
}

.glitch-home::after{
	color: #3498db;
	opacity: 0%;
	animation: glitch-effect 3s infinite, hideshow 0s ease forwards 4.2s;
}

#filter{
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	opacity: 0%;
	animation: showfilter 0.5s ease forwards 2.3s;
	z-index: 10;
	pointer-events: none;
}

#reset{
	position: fixed;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 100%;
	opacity: 0%;
	animation: aestheticshow 0.5s ease forwards 2.3s, dissapear 0.01s ease forwards 4.2s;
	z-index: -1;
}

#epilepsy{
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 100%;
	opacity: 0%;
	animation: aestheticshow 0s ease forwards 4.2s;
	z-index: -1
}

#home-scroll{
	position: absolute;
	bottom: 5%;
	width: 50px;
	transition: translate(0%, -5%);
  	display: block;
  	z-index: 2;
  	margin: -30px;
  	opacity: 0%;
  	animation: hideshow 0.5s ease forwards 2.3s, idle infinite 2.3s;
  	transition: 0.3s;
}

#home-scroll:hover{
	transform: scale(1.5);
	transition: 0.3s;
}

.glitch-header{
	font-family: VHS;
	color: #ffffff;
	font-size: 6vh;
	letter-spacing: 12px;
	position: relative;
	text-align: center
	font-weight: 800;
	opacity: 0%;
	animation: hideshow 0.5s ease forwards 2.3s;
	z-index: 1;
}

.glitch-header::before,.glitch-header::after{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.glitch-header::before{
	color: #ff00c1;
	opacity: 0%;
	animation: glitch-effect 2s infinite, hideshow 0s ease forwards 4.2s;
}

.glitch-header::after{
	color: #3498db;
	opacity: 0%;
	animation: glitch-effect 3s infinite, hideshow 0s ease forwards 4.2s;
}

.post-container{
	display: flex;
	opacity: 0%;
	animation: hideshow 0.5s ease forwards 2.3s;
}

.study-gif{
	float: left;
	display: block;
	max-width: 40vh;
	max-height: 35vh;
	opacity: 0%;
	animation: hideshow 0.5s ease forwards 2.3s;
	transition: 0.3s;
}

.study-gif:hover{
	transform: scale(1.1);
	filter: invert(93.5%);
	transition: 0.3s;
}

.contacts{
	transition: 0.3s;
}

.contacts:hover{
	filter: invert(100%);
	transform: scale(1.2);
	background-color: #000000;
	transition: 0.3s;
}

@keyframes hideshow{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}
@keyframes showfilter{
	from{
		opacity: 0%;
	}
	to{
		opacity: 30%;
	}
}
@keyframes aestheticshow{
	from{
		opacity: 0%;
	}
	to{
		opacity: 18%;
	}
}
@keyframes dissapear{
	from{
		opacity: 40%;
	}
	to{
		opacity: 0%;
	}
}
@keyframes glitch-effect{
	0%{
		left: -3px;
		top: -3px;
	}
	25%{
		left: 3px;
		top: 0px;
	}
	50%{
		left: -3px;
		top: 3px;
	}
	75%{
		left: 2px;
		top: -2px;
	}
	100%{
		left: 0px;
		top: -3px;
	}
}

@keyframes idle{
	0%{
		bottom: 8%;
	}10%{
		bottom: 6.5%;
	}20%{
		bottom: 8%;
	}100%{
		bottom: 8%;
	}
}

@media screen and (max-width: 500px){

	.navbar ul li a {
		font-size: 12px;
	}

	.glitch-home{
		font-size: 30px;
		letter-spacing: 8px;
	}

	.glitch-header{
		font-size: 30px;
		letter-spacing: 8px;
	}

	p{
		font-size: 15px;
	}

	p1{
		font-size: 15px;
	}

	.study-gif{
		width: 150px;
		height:97%;
	}

}
